<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</head>
<body >
<table class="table">
    <thead>
      <tr>
        <th>StudentId</th>
        <th>StudentName</th>
          <th>StudentAttendence</th>
        <th>StudentEmail</th>
          <th>StudentContactNO</th>
          <th>Action</th>

      </tr>
    </thead>
    <tbody>
        {% for student in student %}
      <tr>
        <td>{{student.student_id}}</td>
        <td>{{student.student_name}}</td>
        <td>{{student.student_attendence}}</td>
        <td>{{student.student_Email}}</td>
        <td>{{student.student_contactNo}}</td>
        <td ><a class="btn btn-danger" href="/schoolapp/edit/{{ student.student_id }}">EDIT</a></td>
      </tr>
    {% endfor %}


    </tbody>
  </table>

</body>
</html>